<html>
   <head>
    <title>content</title>
    <link href='style2.css' rel='stylesheet'>
<head>
<p>Airport authority</p>
<br>
<a href="/logout" class="button" >Sign Out</a>
<br>
</head>


<table id="customers">
 <col width=8%>
  <col width="100">
 <col width="200">
  <col width=15%>
 <col width=8%>
 
  <tr>
    <th>Serial Number</th>
    <th>Barcode</th>
    <th>Product Name</th>
    <th>Date</th>
    <th>Maintenance</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table><br><br>
<div class="btn-group">
  <button class="button">1</button>
  <button class="button">2</button>
  <button class="button">3</button>
  <button class="button">4</button>
<a href="#" class="button" >Next</a>
</div>

</body>
</html>